section{
  height: 75px;
  width: 100%;
  background-color: rgb(19, 28, 46);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}


section img {
  border-radius: 50%;
  border: rgb(51, 156, 184) solid 2px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

section span {
  margin-left: 10px
}
